*{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
}
h1 {
    color: rgb(23, 74, 117);
    font-size: 25pt;
}
h2{
    background-color: goldenrod;
    color: white;
}
.kuning{
    color:yellow
}
.merah {
    color:brown
}
.kanan {
    text-align: right;
}
#tengah {
    text-align: center;

}
.penuh{
    width: 100px;
    padding: 10px;
    border: 3px red;
    margin: 5px;
}
.tinggi {
        height: 80px;
}
